<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>乳此侦析 - 用户登录</title>
    <link rel="icon" href="../static/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login-main.css">
    <link rel="stylesheet" href="../static/css/star.css">
</head>

<body>
    <div class="star-container">
        <div class="layer1"></div>
        <div class="layer2"></div>
        <div class="layer3"></div>
        <div class="layer4"></div>
        <div class="layer5"></div>
    </div>

    <div class="login-container">
        <div class="left-decoration">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
        </div>

        <div class="right-form">
            <div class="form-container">

                <a href="./index.html" class="back-btn">
                    <i>←</i><span>返回首页</span>
                </a>

                <h2 class="form-title">用户登录/注册</h2>
                <form autocomplete="off" id="form-login">

                    <div class="form-group">
                        <label class="form-label" for="username">用户姓名</label>
                        <input type="text" id="username" name="usrName" class="form-input" placeholder="请输入您的用户名">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">用户密码</label>
                        <input type="password" id="password" name="usrPwd" class="form-input" placeholder="请输入您的密码">
                    </div>

                    <div class="submit-container">
                        <p>* 不存在的账号会被自动注册</p>
                        <button type="submit" class="submit-btn">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/assets/data/vars.js"></script>
    <script src="../static/js/login-main.js"></script>
</body>

</html>