<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" name="abc" id="abc">
    <button id="def">submit</button>
    <script>
        const ipt = document.getElementById('abc');
        const btn = document.getElementById('def');
        btn.addEventListener('click', async function (e) {
            const v = ipt.value;
            async function check_connection() {
                try {
                    const response = await fetch('api/t1', {
                        method: 'POST',
                        body: v,
                        headers: {
                            'Content-Type': 'text/plain'
                        }
                    });
                    const result = await response.json();
                    console.log(result.success);
                    return true;
                } catch (error) {
                    return false;
                }
            }
            const ans = await check_connection();
            console.log(ans);

            console.log('finish');
        })

    </script>
</body>

</html>